name: Unit Testing
permissions:
  contents: read

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.3"

      - name: Install libvips and pkg-config
        run: |
          sudo apt-get update
          sudo apt-get install -y libvips-dev pkg-config

      - name: Unit tests
        run: make unit_test
